<ion-header>
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="dark">
      <h1 class="ion-text-center">Search for a Website via Google</h1>
  </ion-text>

  <ion-item-divider></ion-item-divider>


  <ion-grid class="ion-text-center centralGrid">

    <ion-item>
      <ion-label position="stacked"> Website Search: </ion-label>
      <ion-input placeholder="Enter a term you want to find websites for"></ion-input>
    </ion-item>

  </ion-grid>



  <div class="ion-text-center bottomButton" (click)="grabSearch()">
    <ion-button>
      <ion-icon slot="start" name="search"></ion-icon>
      Search for a website
    </ion-button>
  </div>





</ion-content>
